.DS_STORE
build
*.weights
.*.swp
*ubyte
.vscode
.idea
__pycache__
data/imagenet_dataset
onnx_import/venv
onnx_import/.idea
onnx_import/generated_code
*.onnx
*.pb
*.pbtxt
*.o
pico-cnn/lib
pico-cnn/lib.a
pico-cnn/lib.a
